.icon-button {
    --size: 40px;
    min-width: var(--size);
    height: var(--size);
    cursor: pointer;
}

.icon-button.left,
.icon-button.left.disable {
    background: url('../../assets/icons/Left.svg') center / 100% 100% no-repeat;
}
.icon-button.left:hover { 
    background: url('../../assets/icons/Left_active.svg') center / 100% 100% no-repeat;
}
.icon-button.right,
.icon-button.right.disable {
    background: url('../../assets/icons/Right.svg') center / 100% 100% no-repeat
}
.icon-button.right:hover {
    background: url('../../assets/icons/Right_active.svg') center / 100% 100% no-repeat;
}
.icon-button.left.disable,
.icon-button.right.disable {
    pointer-events: none;
}
